<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <hgroup>
            <h1>Error.</h1>
            <h2>An error occurred while processing your request.</h2>
        </hgroup>
    </body>
    </html>


@*@model System.Web.Mvc.HandleErrorInfo

<div class="alert alert-danger">
    <h3>Error in @Model.ControllerName Controller - @Model.ActionName</h3>
    <p>@Model.Exception.Message</p>
</div>*@
